@charset "utf-8"

@import _modules/normalize
@import _modules/mixins

body
  background: #efefef
  color: #1f1f1f
  font-family: 'Noto Sans', sans-serif

.container
  text-align: center

+amp_img()
  margin-top: 60px
  max-width: 400px
  margin-left: auto
  margin-right: auto
